body {
    padding-top: 55px;
}

/* Adjust size of the map */
#map {
    width: 100%;
    height: 700px;
    background-color: grey;
    padding: 0 0 10px 0;
}

/* Navbar color */
.navbar {
    background-color: gray;
}

/* Prevent modal from being blocked by navbar */
.modal-backdrop {
   display: none;
}

.modal {
    background: rgba(0,0,0,0.5)
}

.contact-banner {
    height: 30vh;
    display: flex;
}

/* Adjust size of jumbotron */
.jumbotron {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

/* .hero-background-img {
    background-image: url("/images/jumbotron-bg.jpg");
    z-index: -1;
    opacity: 0.5;
} */